html, body {
    margin: 0px;
    padding: 0px;
    background: black url(../img/background.jpg) no-repeat;
    background-size: cover;
}

#main-container {
    padding-top: 69px;
    padding-bottom: 15px;
}

h2 {
    width: 91%;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

table {
    width: 100%;
    color: white;
    margin-top:35px;
}

#action-pen, #action-can {
    font-size: 13px!important;
    transform: translate(0%, 0%);
}

th.action {
    width: 3%;
}

th, td {
    padding: 15px;
}

th {
    background-color: #464646;
}

.row {
    padding: 10px;
}

.list {
    margin: 10px;
    background-color: black!important;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 12px;
}

.task-list {
    list-style: none;
    padding-left: 16px;
    height: 218px!important;
    overflow-y: auto;
    margin-top: 16px!important;
}

.task {
    margin: 10px 0px;
    display: inline-block;
    width: 185px;
}
small {
    display: block;
}

nav {
    background-color: black;
}

.date {
    font-size: .725em;
}

.fas.fa-pen {
    font-size: 9px;
    transform: translate(-73%, -34%);
}

.far.fa-clipboard {
    margin-right: -8px;
}

.fas.fa-trash-alt {
    margin-left: 10px;
    display: inline;
}

#DDContainer {
    position: absolute;
    top: 7px;
    right: 7px;
}

#cardDD, #cardDD:focus {
    background-color: transparent;
    border: none!important;
    color: #fff;
}

#cardDD::before {
    display: none;
}

.login-register>.nav-item>a {
    color: rgba(255, 255, 255, 1)!important;
}

#AreYouSure {
    width: 25%;
}

/* Scrollbar */

.task-list::-webkit-scrollbar {
    width: 18px;                    /* width of the entire scrollbar */
}
.task-list::-webkit-scrollbar-track {
    background: white;              /* color of the tracking area */
    border-radius: 9px;
    padding: 10px;
}
.task-list::-webkit-scrollbar-thumb {
    background-color: black;            /* color of the scroll thumb */
    border-radius: 20px;            /* roundness of the scroll thumb */
    border: 5px solid white;        /* creates padding around scroll thumb */
}